In [1]:
import pandas as pd

In [2]:
#原始迁入数据
address = pd.read_excel('/Users/jackchen/Desktop/迁徙地图（市）.xlsx', index_col=False)

In [3]:
address

               名称      比例
0          广州市广东省  0.0233
1          东莞市广东省  0.0224
2          深圳市广东省  0.0210
3          惠州市广东省  0.0207
4          佛山市广东省  0.0182
..            ...     ...
95         沈阳市辽宁省  0.0035
96         烟台市山东省  0.0034
97         聊城市山东省  0.0034
98         宿迁市江苏省  0.0034
99  黔南布依族苗族自治州贵州省  0.0034

[100 rows x 2 columns]

In [4]:
#方法一 split分割`市`

# split()函数语法：str.split(str="",num=string.count(str))[n]

# 参数说明：
# str:表示为分隔符，默认为空格，但是不能为空(’’)。若字符串中没有分隔符，则把整个字符串作为列表的一个元素
# num:表示分割次数。如果存在参数num，则仅分隔成 num+1 个子字符串，并且每一个子字符串可以赋给新的变量
# [n]:表示选取第n个分片
# expand: 指定expand=True生成DataFrame

# 注意：当使用空格作为分隔符时，对于中间为空的项会自动忽略

In [5]:
address1 = address['名称'].str.split('市', expand=True)
address1

                0     1     2
0              广州   广东省  None
1              东莞   广东省  None
2              深圳   广东省  None
3              惠州   广东省  None
4              佛山   广东省  None
..            ...   ...   ...
95             沈阳   辽宁省  None
96             烟台   山东省  None
97             聊城   山东省  None
98             宿迁   江苏省  None
99  黔南布依族苗族自治州贵州省  None  None

[100 rows x 3 columns]

In [6]:
address1.loc[:, 2] = address.iloc[:, 1]

In [7]:
address1

                0     1       2
0              广州   广东省  0.0233
1              东莞   广东省  0.0224
2              深圳   广东省  0.0210
3              惠州   广东省  0.0207
4              佛山   广东省  0.0182
..            ...   ...     ...
95             沈阳   辽宁省  0.0035
96             烟台   山东省  0.0034
97             聊城   山东省  0.0034
98             宿迁   江苏省  0.0034
99  黔南布依族苗族自治州贵州省  None  0.0034

[100 rows x 3 columns]

In [8]:
#合并表格
address2 = address.join(address['名称'].str.split('市', expand=True))
address2

               名称      比例              0     1     2
0          广州市广东省  0.0233             广州   广东省  None
1          东莞市广东省  0.0224             东莞   广东省  None
2          深圳市广东省  0.0210             深圳   广东省  None
3          惠州市广东省  0.0207             惠州   广东省  None
4          佛山市广东省  0.0182             佛山   广东省  None
..            ...     ...            ...   ...   ...
95         沈阳市辽宁省  0.0035             沈阳   辽宁省  None
96         烟台市山东省  0.0034             烟台   山东省  None
97         聊城市山东省  0.0034             聊城   山东省  None
98         宿迁市江苏省  0.0034             宿迁   江苏省  None
99  黔南布依族苗族自治州贵州省  0.0034  黔南布依族苗族自治州贵州省  None  None

[100 rows x 5 columns]

In [9]:
#方法二 使用匿名函数lambda来将City列拆成两列。

In [10]:
address['城市'] = address['名称'].map(lambda x:x. split('市')[0])
address['省份'] = address['名称'].map(lambda x:x. split('市')[-1])

In [11]:
address

               名称      比例             城市             省份
0          广州市广东省  0.0233             广州            广东省
1          东莞市广东省  0.0224             东莞            广东省
2          深圳市广东省  0.0210             深圳            广东省
3          惠州市广东省  0.0207             惠州            广东省
4          佛山市广东省  0.0182             佛山            广东省
..            ...     ...            ...            ...
95         沈阳市辽宁省  0.0035             沈阳            辽宁省
96         烟台市山东省  0.0034             烟台            山东省
97         聊城市山东省  0.0034             聊城            山东省
98         宿迁市江苏省  0.0034             宿迁            江苏省
99  黔南布依族苗族自治州贵州省  0.0034  黔南布依族苗族自治州贵州省  黔南布依族苗族自治州贵州省

[100 rows x 4 columns]

In [12]:
df1 = address[['省份', '城市', '比例']]

In [13]:
df1

               省份             城市      比例
0             广东省             广州  0.0233
1             广东省             东莞  0.0224
2             广东省             深圳  0.0210
3             广东省             惠州  0.0207
4             广东省             佛山  0.0182
..            ...            ...     ...
95            辽宁省             沈阳  0.0035
96            山东省             烟台  0.0034
97            山东省             聊城  0.0034
98            江苏省             宿迁  0.0034
99  黔南布依族苗族自治州贵州省  黔南布依族苗族自治州贵州省  0.0034

[100 rows x 3 columns]

In [14]:
#迁出数据 操作同上
address = pd.read_excel('/Users/jackchen/Desktop/迁徙地图（市）.xlsx', sheet_name = '迁出（市）', index_col=False)

In [15]:
address['城市'] = address['名称'].map(lambda x:x. split('市')[0])
address['省份'] = address['名称'].map(lambda x:x. split('市')[-1])
address

        名称      比例  城市   省份
0   广州市广东省  0.0494  广州  广东省
1   深圳市广东省  0.0441  深圳  广东省
2   成都市四川省  0.0383  成都  四川省
3   东莞市广东省  0.0357  东莞  广东省
4   长沙市湖南省  0.0340  长沙  湖南省
..     ...     ...  ..  ...
95  荆州市湖北省  0.0022  荆州  湖北省
96  衡阳市湖南省  0.0021  衡阳  湖南省
97  廊坊市河北省  0.0021  廊坊  河北省
98  赣州市江西省  0.0021  赣州  江西省
99  宿州市安徽省  0.0020  宿州  安徽省

[100 rows x 4 columns]

In [16]:
df2 = address[['省份', '城市', '比例']]

In [17]:
# 导出至同一Excel中的不同sheet，并命名。
writer = pd.ExcelWriter('6.3人口迁徙数据（市）.xlsx')
df1.to_excel(writer, sheet_name='6.3迁入（市）')
df2.to_excel(writer, sheet_name='6.3迁出（市）')
writer.save()
writer.close()

/Users/jackchen/opt/anaconda3/lib/python3.9/site-packages/xlsxwriter/workbook.py:338: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [25]:
#方法三：读取txt文件，隔行取值

In [26]:
# read data from txt file
df = pd.read_csv("6.3迁入.txt", header = None)
df

              0
0           1\t
1           广州市
2           广东省
3         2.33%
4           2\t
..          ...
395       0.34%
396       100\t
397  黔南布依族苗族自治州
398         贵州省
399       0.34%

[400 rows x 1 columns]

In [20]:
# data frame to numpy array
a = df.to_numpy()
a

array([['1\t'],
       ['广州市'],
       ['广东省'],
       ['2.33%'],
       ['2\t'],
       ['东莞市'],
       ['广东省'],
       ['2.24%'],
       ['3\t'],
       ['深圳市'],
       ['广东省'],
       ['2.10%'],
       ['4\t'],
       ['惠州市'],
       ['广东省'],
       ['2.07%'],
       ['5\t'],
       ['佛山市'],
       ['广东省'],
       ['1.82%'],
       ['6\t'],
       ['成都市'],
       ['四川省'],
       ['1.35%'],
       ['7\t'],
       ['西安市'],
       ['陕西省'],
       ['1.19%'],
       ['8\t'],
       ['咸阳市'],
       ['陕西省'],
       ['1.17%'],
       ['9\t'],
       ['长沙市'],
       ['湖南省'],
       ['1.02%'],
       ['10\t'],
       ['杭州市'],
       ['浙江省'],
       ['0.98%'],
       ['11\t'],
       ['中山市'],
       ['广东省'],
       ['0.95%'],
       ['12\t'],
       ['清远市'],
       ['广东省'],
       ['0.93%'],
       ['13\t'],
       ['岳阳市'],
       ['湖南省'],
       ['0.88%'],
       ['14\t'],
       ['武汉市'],
       ['湖北省'],
       ['0.84%'],
       ['15\t'],
       ['肇庆市'],
       ['广东省'],
       ['0.82%'],
       ['16\t'],
       ['渭南市'],
       ['陕西省'],
       ['0.80%'],
       ['17\t'],
       ['黄冈市'],
       ['湖北省'],
       ['0.77%'],
       ['18\t'],
       ['泉州市'],
       ['福建省'],
       ['0.73%'],
       ['19\t'],
       ['江门市'],
       ['广东省'],
       ['0.72%'],
       ['20\t'],
       ['合肥市'],
       ['安徽省'],
       ['0.69%'],
       ['21\t'],
       ['漳州市'],
       ['福建省'],
       ['0.68%'],
       ['22\t'],
       ['益阳市'],
       ['湖南省'],
       ['0.68%'],
       ['23\t'],
       ['重庆市'],
       ['重庆市'],
       ['0.67%'],
       ['24\t'],
       ['南京市'],
       ['江苏省'],
       ['0.66%'],
       ['25\t'],
       ['眉山市'],
       ['四川省'],
       ['0.66%'],
       ['26\t'],
       ['孝感市'],
       ['湖北省'],
       ['0.64%'],
       ['27\t'],
       ['茂名市'],
       ['广东省'],
       ['0.63%'],
       ['28\t'],
       ['苏州市'],
       ['江苏省'],
       ['0.63%'],
       ['29\t'],
       ['湘潭市'],
       ['湖南省'],
       ['0.63%'],
       ['30\t'],
       ['河源市'],
       ['广东省'],
       ['0.63%'],
       ['31\t'],
       ['德阳市'],
       ['四川省'],
       ['0.62%'],
       ['32\t'],
       ['济南市'],
       ['山东省'],
       ['0.62%'],
       ['33\t'],
       ['绍兴市'],
       ['浙江省'],
       ['0.61%'],
       ['34\t'],
       ['潍坊市'],
       ['山东省'],
       ['0.56%'],
       ['35\t'],
       ['郑州市'],
       ['河南省'],
       ['0.56%'],
       ['36\t'],
       ['南宁市'],
       ['广西壮族自治区'],
       ['0.56%'],
       ['37\t'],
       ['无锡市'],
       ['江苏省'],
       ['0.56%'],
       ['38\t'],
       ['金华市'],
       ['浙江省'],
       ['0.56%'],
       ['39\t'],
       ['衡阳市'],
       ['湖南省'],
       ['0.55%'],
       ['40\t'],
       ['珠海市'],
       ['广东省'],
       ['0.53%'],
       ['41\t'],
       ['贵阳市'],
       ['贵州省'],
       ['0.52%'],
       ['42\t'],
       ['临沂市'],
       ['山东省'],
       ['0.52%'],
       ['43\t'],
       ['滁州市'],
       ['安徽省'],
       ['0.51%'],
       ['44\t'],
       ['毕节市'],
       ['贵州省'],
       ['0.51%'],
       ['45\t'],
       ['宝鸡市'],
       ['陕西省'],
       ['0.51%'],
       ['46\t'],
       ['绵阳市'],
       ['四川省'],
       ['0.50%'],
       ['47\t'],
       ['邵阳市'],
       ['湖南省'],
       ['0.50%'],
       ['48\t'],
       ['六安市'],
       ['安徽省'],
       ['0.50%'],
       ['49\t'],
       ['梅州市'],
       ['广东省'],
       ['0.50%'],
       ['50\t'],
       ['揭阳市'],
       ['广东省'],
       ['0.50%'],
       ['51\t'],
       ['嘉兴市'],
       ['浙江省'],
       ['0.49%'],
       ['52\t'],
       ['赣州市'],
       ['江西省'],
       ['0.49%'],
       ['53\t'],
       ['青岛市'],
       ['山东省'],
       ['0.49%'],
       ['54\t'],
       ['昆明市'],
       ['云南省'],
       ['0.49%'],
       ['55\t'],
       ['上饶市'],
       ['江西省'],
       ['0.48%'],
       ['56\t'],
       ['株洲市'],
       ['湖南省'],
       ['0.48%'],
       ['57\t'],
       ['娄底市'],
       ['湖南省'],
       ['0.47%'],
       ['58\t'],
       ['宁波市'],
       ['浙江省'],
       ['0.45%'],
       ['59\t'],
       ['厦门市'],
       ['福建省'],
       ['0.44%'],
       ['60\t'],
       ['内江市'],
       ['四川省'],
       ['0.44%'],
       ['61\t'],
       ['韶关市'],
       ['广东省'],
       ['0.44%'],
       ['62\t'],
       ['汕头市'],
       ['广东省'],
       ['0.44%'],
       ['63\t'],
       ['德州市'],
       ['山东省'],
       ['0.44%'],
       ['64\t'],
       ['济宁市'],
       ['山东省'],
       ['0.44%'],
       ['65\t'],
       ['泰州市'],
       ['江苏省'],
       ['0.43%'],
       ['66\t'],
       ['镇江市'],
       ['江苏省'],
       ['0.43%'],
       ['67\t'],
       ['湖州市'],
       ['浙江省'],
       ['0.43%'],
       ['68\t'],
       ['遵义市'],
       ['贵州省'],
       ['0.43%'],
       ['69\t'],
       ['荆州市'],
       ['湖北省'],
       ['0.43%'],
       ['70\t'],
       ['常州市'],
       ['江苏省'],
       ['0.42%'],
       ['71\t'],
       ['资阳市'],
       ['四川省'],
       ['0.42%'],
       ['72\t'],
       ['盐城市'],
       ['江苏省'],
       ['0.42%'],
       ['73\t'],
       ['常德市'],
       ['湖南省'],
       ['0.42%'],
       ['74\t'],
       ['菏泽市'],
       ['山东省'],
       ['0.42%'],
       ['75\t'],
       ['泰安市'],
       ['山东省'],
       ['0.42%'],
       ['76\t'],
       ['云浮市'],
       ['广东省'],
       ['0.42%'],
       ['77\t'],
       ['太原市'],
       ['山西省'],
       ['0.42%'],
       ['78\t'],
       ['徐州市'],
       ['江苏省'],
       ['0.41%'],
       ['79\t'],
       ['南通市'],
       ['江苏省'],
       ['0.41%'],
       ['80\t'],
       ['宿州市'],
       ['安徽省'],
       ['0.41%'],
       ['81\t'],
       ['玉林市'],
       ['广西壮族自治区'],
       ['0.40%'],
       ['82\t'],
       ['淮安市'],
       ['江苏省'],
       ['0.39%'],
       ['83\t'],
       ['曲靖市'],
       ['云南省'],
       ['0.39%'],
       ['84\t'],
       ['石家庄市'],
       ['河北省'],
       ['0.39%'],
       ['85\t'],
       ['安庆市'],
       ['安徽省'],
       ['0.37%'],
       ['86\t'],
       ['阳江市'],
       ['广东省'],
       ['0.37%'],
       ['87\t'],
       ['南充市'],
       ['四川省'],
       ['0.37%'],
       ['88\t'],
       ['扬州市'],
       ['江苏省'],
       ['0.36%'],
       ['89\t'],
       ['宜春市'],
       ['江西省'],
       ['0.36%'],
       ['90\t'],
       ['九江市'],
       ['江西省'],
       ['0.36%'],
       ['91\t'],
       ['开封市'],
       ['河南省'],
       ['0.36%'],
       ['92\t'],
       ['晋中市'],
       ['山西省'],
       ['0.36%'],
       ['93\t'],
       ['乐山市'],
       ['四川省'],
       ['0.35%'],
       ['94\t'],
       ['保定市'],
       ['河北省'],
       ['0.35%'],
       ['95\t'],
       ['湛江市'],
       ['广东省'],
       ['0.35%'],
       ['96\t'],
       ['沈阳市'],
       ['辽宁省'],
       ['0.35%'],
       ['97\t'],
       ['烟台市'],
       ['山东省'],
       ['0.34%'],
       ['98\t'],
       ['聊城市'],
       ['山东省'],
       ['0.34%'],
       ['99\t'],
       ['宿迁市'],
       ['江苏省'],
       ['0.34%'],
       ['100\t'],
       ['黔南布依族苗族自治州'],
       ['贵州省'],
       ['0.34%']], dtype=object)

In [21]:
# reshape of numpy array
b = a.reshape(100, 4)
b

array([['1\t', '广州市', '广东省', '2.33%'],
       ['2\t', '东莞市', '广东省', '2.24%'],
       ['3\t', '深圳市', '广东省', '2.10%'],
       ['4\t', '惠州市', '广东省', '2.07%'],
       ['5\t', '佛山市', '广东省', '1.82%'],
       ['6\t', '成都市', '四川省', '1.35%'],
       ['7\t', '西安市', '陕西省', '1.19%'],
       ['8\t', '咸阳市', '陕西省', '1.17%'],
       ['9\t', '长沙市', '湖南省', '1.02%'],
       ['10\t', '杭州市', '浙江省', '0.98%'],
       ['11\t', '中山市', '广东省', '0.95%'],
       ['12\t', '清远市', '广东省', '0.93%'],
       ['13\t', '岳阳市', '湖南省', '0.88%'],
       ['14\t', '武汉市', '湖北省', '0.84%'],
       ['15\t', '肇庆市', '广东省', '0.82%'],
       ['16\t', '渭南市', '陕西省', '0.80%'],
       ['17\t', '黄冈市', '湖北省', '0.77%'],
       ['18\t', '泉州市', '福建省', '0.73%'],
       ['19\t', '江门市', '广东省', '0.72%'],
       ['20\t', '合肥市', '安徽省', '0.69%'],
       ['21\t', '漳州市', '福建省', '0.68%'],
       ['22\t', '益阳市', '湖南省', '0.68%'],
       ['23\t', '重庆市', '重庆市', '0.67%'],
       ['24\t', '南京市', '江苏省', '0.66%'],
       ['25\t', '眉山市', '四川省', '0.66%'],
       ['26\t', '孝感市', '湖北省', '0.64%'],
       ['27\t', '茂名市', '广东省', '0.63%'],
       ['28\t', '苏州市', '江苏省', '0.63%'],
       ['29\t', '湘潭市', '湖南省', '0.63%'],
       ['30\t', '河源市', '广东省', '0.63%'],
       ['31\t', '德阳市', '四川省', '0.62%'],
       ['32\t', '济南市', '山东省', '0.62%'],
       ['33\t', '绍兴市', '浙江省', '0.61%'],
       ['34\t', '潍坊市', '山东省', '0.56%'],
       ['35\t', '郑州市', '河南省', '0.56%'],
       ['36\t', '南宁市', '广西壮族自治区', '0.56%'],
       ['37\t', '无锡市', '江苏省', '0.56%'],
       ['38\t', '金华市', '浙江省', '0.56%'],
       ['39\t', '衡阳市', '湖南省', '0.55%'],
       ['40\t', '珠海市', '广东省', '0.53%'],
       ['41\t', '贵阳市', '贵州省', '0.52%'],
       ['42\t', '临沂市', '山东省', '0.52%'],
       ['43\t', '滁州市', '安徽省', '0.51%'],
       ['44\t', '毕节市', '贵州省', '0.51%'],
       ['45\t', '宝鸡市', '陕西省', '0.51%'],
       ['46\t', '绵阳市', '四川省', '0.50%'],
       ['47\t', '邵阳市', '湖南省', '0.50%'],
       ['48\t', '六安市', '安徽省', '0.50%'],
       ['49\t', '梅州市', '广东省', '0.50%'],
       ['50\t', '揭阳市', '广东省', '0.50%'],
       ['51\t', '嘉兴市', '浙江省', '0.49%'],
       ['52\t', '赣州市', '江西省', '0.49%'],
       ['53\t', '青岛市', '山东省', '0.49%'],
       ['54\t', '昆明市', '云南省', '0.49%'],
       ['55\t', '上饶市', '江西省', '0.48%'],
       ['56\t', '株洲市', '湖南省', '0.48%'],
       ['57\t', '娄底市', '湖南省', '0.47%'],
       ['58\t', '宁波市', '浙江省', '0.45%'],
       ['59\t', '厦门市', '福建省', '0.44%'],
       ['60\t', '内江市', '四川省', '0.44%'],
       ['61\t', '韶关市', '广东省', '0.44%'],
       ['62\t', '汕头市', '广东省', '0.44%'],
       ['63\t', '德州市', '山东省', '0.44%'],
       ['64\t', '济宁市', '山东省', '0.44%'],
       ['65\t', '泰州市', '江苏省', '0.43%'],
       ['66\t', '镇江市', '江苏省', '0.43%'],
       ['67\t', '湖州市', '浙江省', '0.43%'],
       ['68\t', '遵义市', '贵州省', '0.43%'],
       ['69\t', '荆州市', '湖北省', '0.43%'],
       ['70\t', '常州市', '江苏省', '0.42%'],
       ['71\t', '资阳市', '四川省', '0.42%'],
       ['72\t', '盐城市', '江苏省', '0.42%'],
       ['73\t', '常德市', '湖南省', '0.42%'],
       ['74\t', '菏泽市', '山东省', '0.42%'],
       ['75\t', '泰安市', '山东省', '0.42%'],
       ['76\t', '云浮市', '广东省', '0.42%'],
       ['77\t', '太原市', '山西省', '0.42%'],
       ['78\t', '徐州市', '江苏省', '0.41%'],
       ['79\t', '南通市', '江苏省', '0.41%'],
       ['80\t', '宿州市', '安徽省', '0.41%'],
       ['81\t', '玉林市', '广西壮族自治区', '0.40%'],
       ['82\t', '淮安市', '江苏省', '0.39%'],
       ['83\t', '曲靖市', '云南省', '0.39%'],
       ['84\t', '石家庄市', '河北省', '0.39%'],
       ['85\t', '安庆市', '安徽省', '0.37%'],
       ['86\t', '阳江市', '广东省', '0.37%'],
       ['87\t', '南充市', '四川省', '0.37%'],
       ['88\t', '扬州市', '江苏省', '0.36%'],
       ['89\t', '宜春市', '江西省', '0.36%'],
       ['90\t', '九江市', '江西省', '0.36%'],
       ['91\t', '开封市', '河南省', '0.36%'],
       ['92\t', '晋中市', '山西省', '0.36%'],
       ['93\t', '乐山市', '四川省', '0.35%'],
       ['94\t', '保定市', '河北省', '0.35%'],
       ['95\t', '湛江市', '广东省', '0.35%'],
       ['96\t', '沈阳市', '辽宁省', '0.35%'],
       ['97\t', '烟台市', '山东省', '0.34%'],
       ['98\t', '聊城市', '山东省', '0.34%'],
       ['99\t', '宿迁市', '江苏省', '0.34%'],
       ['100\t', '黔南布依族苗族自治州', '贵州省', '0.34%']], dtype=object)

In [22]:
# numpy array to data frame
df2 = pd.DataFrame(b)
df2

        0           1    2      3
0     1\t         广州市  广东省  2.33%
1     2\t         东莞市  广东省  2.24%
2     3\t         深圳市  广东省  2.10%
3     4\t         惠州市  广东省  2.07%
4     5\t         佛山市  广东省  1.82%
..    ...         ...  ...    ...
95   96\t         沈阳市  辽宁省  0.35%
96   97\t         烟台市  山东省  0.34%
97   98\t         聊城市  山东省  0.34%
98   99\t         宿迁市  江苏省  0.34%
99  100\t  黔南布依族苗族自治州  贵州省  0.34%

[100 rows x 4 columns]

In [23]:
# 合并成一串代码～
pd.DataFrame(df.to_numpy().reshape(100, 4))

        0           1    2      3
0     1\t         广州市  广东省  2.33%
1     2\t         东莞市  广东省  2.24%
2     3\t         深圳市  广东省  2.10%
3     4\t         惠州市  广东省  2.07%
4     5\t         佛山市  广东省  1.82%
..    ...         ...  ...    ...
95   96\t         沈阳市  辽宁省  0.35%
96   97\t         烟台市  山东省  0.34%
97   98\t         聊城市  山东省  0.34%
98   99\t         宿迁市  江苏省  0.34%
99  100\t  黔南布依族苗族自治州  贵州省  0.34%

[100 rows x 4 columns]